<ion-content class="onboarding-content">

  @if(step === 0) {
    <section class="onboarding-header">
      <h1>Tus ingresos</h1>
      <p>¿Cuáles son tus fuentes de ingreso mensual?</p>
    </section>

    <section class="onboarding-card">

      @for(ingreso of ingresos; track ingreso) {
        <ion-item class="list-item">
          <ion-label>
            <h3>{{ ingreso.nombre }}</h3>
            <p>{{ ingreso.categoriaNombre }}</p>
            <p>$ {{ ingreso.monto | number:'1.0-0':'es-CL' }}</p>
          </ion-label>

          <ion-button fill="clear" color="danger" slot="end" (click)="eliminarIngreso($index)">
            X
          </ion-button>
        </ion-item>
      }

      @if(ingresos.length > 0) {
        <div class="total-box">
          <p>Total mensual</p>
          <h2>$ {{ totalIngresos | number:'1.0-0':'es-CL' }}</h2>
        </div>
      }

      <div class="form-box">
        <p class="form-title">
          Agregar ingreso <span>(opcional)</span>
        </p>

        <ion-item class="custom-item">
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="nuevoIngresoNombre"
            (ionInput)="error = ''"
            placeholder="Ej: Sueldo, Freelance">
          </ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-label position="stacked">Monto mensual</ion-label>
          <ion-input
             type="text"
            [value]="nuevoIngresoMonto ? (nuevoIngresoMonto | number:'1.0-0':'es-CL') : ''"
            (ionInput)="formatearMonto($event)"
            inputmode="numeric"
            placeholder="0">
          </ion-input>
        </ion-item>

      <ion-item class="custom-item">
          <ion-label position="stacked">Categoría del ingreso</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="nuevaCategoriaNombre"
            (ionInput)="error = ''"
            placeholder="Ej: Sueldo, bono, etc">
          </ion-input>
      </ion-item>

        <ion-button expand="block" fill="outline" class="outline-button" (click)="agregarIngreso()">
          Añadir ingreso
        </ion-button>
      </div>

      @if(error) {
        <ion-text color="danger">
          <p class="error-text">{{ error }}</p>
        </ion-text>
      }

      <ion-button expand="block" class="main-button" [disabled]="loading" (click)="continuarIngresos()">
        @if(loading) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          <span>Continuar</span>
        }
      </ion-button>

      <ion-button expand="block" fill="clear" class="clear-button" [disabled]="loading" (click)="omitirIngresos()">
        Omitir por ahora
      </ion-button>

    </section>
  }

  @if(step === 1) {
    <section class="onboarding-header">
      <h1>Tu presupuesto</h1>
      <p>¿Cuánto planeas gastar al mes? <span>(opcional)</span></p>
    </section>

    <section class="onboarding-card">

      @if(totalIngresos > 0) {
        <div class="total-card">
          <p>Tus ingresos totales: <strong>$ {{ totalIngresos | number:'1.0-0':'es-CL' }} </strong></p>
          <ion-button fill="clear" size="small" (click)="usarTotalComoPresupuesto()">
            Usar como presupuesto
          </ion-button>
        </div>
      }

      <ion-item class="custom-item">
        <ion-label position="stacked">Presupuesto mensual</ion-label>
        <ion-input
          type="text"
          [value]="monthlyBudget ? (monthlyBudget | number:'1.0-0':'es-CL') : ''"
          (ionInput)="formatearPresupuesto($event)"
          inputmode="numeric"
          placeholder="0">
        </ion-input>
      </ion-item>

      @if(error) {
        <ion-text color="danger">
          <p class="error-text">{{ error }}</p>
        </ion-text>
      }

      <ion-button expand="block" class="main-button" [disabled]="loading" (click)="continuarPresupuesto()">
        @if(loading) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          <span>Continuar</span>
        }
      </ion-button>

      <ion-button expand="block" fill="outline" class="outline-button" [disabled]="loading" (click)="omitirPresupuesto()">
        Omitir por ahora
      </ion-button>

      <ion-button expand="block" fill="clear" class="clear-button" (click)="step = 0">
        ← Volver
      </ion-button>

    </section>
  }

  @if(step === 2) {
    <section class="onboarding-header">
      <h1>Crea una meta</h1>
      <p>¿Tienes algo en mente para ahorrar? <span>(opcional)</span></p>
    </section>

    <section class="onboarding-card">

      <ion-item class="custom-item">
        <ion-label position="stacked">Nombre de la meta</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="goalName"
          (ionInput)="error = ''"
          placeholder="Ej: Vacaciones">
        </ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Monto objetivo</ion-label>
        <ion-input
          type="text"
          [value]="goalAmount ? (goalAmount | number:'1.0-0':'es-CL') : ''"
          (ionInput)="formatearMeta($event)"
          inputmode="numeric"
          placeholder="0">
        </ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Fecha límite</ion-label>
        <ion-input
          type="date"
          [(ngModel)]="goalDeadline">
        </ion-input>
      </ion-item>

      @if(error) {
        <ion-text color="danger">
          <p class="error-text">{{ error }}</p>
        </ion-text>
      }

      <ion-button expand="block" class="main-button" [disabled]="loading" (click)="crearMeta()">
        @if(loading) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          <span>Crear meta</span>
        }
      </ion-button>

      <ion-button expand="block" fill="outline" class="outline-button" [disabled]="loading" (click)="omitirMeta()">
        Omitir por ahora
      </ion-button>

      <ion-button expand="block" fill="clear" class="clear-button" (click)="step = 1">
        ← Volver
      </ion-button>

    </section>
  }

</ion-content>