<ion-content [fullscreen]="true" class="login-content">

  <section class="login-header">
    <h1>Conéctate con tu cuenta</h1>
    <p>Escribe tu correo y contraseña para conectarte</p>
  </section>

  <section class="login-card">

    <ion-button expand="block" fill="outline" class="google-button">
      <span class="google-g">G</span>
      Continúa con Google
    </ion-button>

    <div class="divider">
      <span></span>
      <p>Conéctate con tu correo</p>
      <span></span>
    </div>

    <ion-input
      type="email"
      [(ngModel)]="email"
      placeholder="correo@gmail.com"
      class="custom-input">
    </ion-input>

    <ion-input
      type="password"
      [(ngModel)]="password"
      placeholder="********"
      class="custom-input">
    </ion-input>

    @if(error) {
      <ion-text color="danger">
        <p class="login-error">{{ error }}</p>
      </ion-text>
    }   

    <div class="options">
      <label>
        <input type="checkbox">
        Recuérdame
      </label>

      <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
    </div>

    <ion-button expand="block" class="login-button" [disabled]="loading" (click)="login()">
  @if(loading) {
    <ion-spinner name="crescent"></ion-spinner>
  } @else {
    <span>Ingresar</span>
  }
</ion-button>

    <p class="register-text">
      ¿No tienes una cuenta?
      <a routerLink="/register">¡Regístrate!</a>
    </p>

  </section>

</ion-content>